@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital@1&display=swap");
* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.App {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: $color-shade;
    font-family: Poppins, sans-serif;
    // flex-direction: row-reverse;
}

.bg {
    background: $bg;
}

.sidebar {
    flex-grow: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dark-shade-1;
}

::-webkit-scrollbar-thumb {
    background: $dark-shade-4;
}

::-webkit-scrollbar-thumb:hover {
    background: $light-shade-4;
}

h1 {
    font-size: 4em;
}

.sidebar {
    min-width: 300px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .sidebar-items {
        flex: 1;
        overflow-y: auto;
        color: #fff;
        .sidebar-item {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            .sidebar-item-header {
                padding: 10px 0;
                margin-left: 30px;
                display: flex;
                justify-content: space-between;
                flex: 1;
                align-items: center;
                color: #bbb;
                font-size: 0.9em;
            }
            .sidebar-playlist-item-icon {
                margin-right: 10px;
            }
            .sidebar-item-content {
                display: flex;
                flex-direction: column;
                .sidebar-content-list {
                    color: #efefef;
                    font-size: 0.8em;
                    display: flex;
                    flex-direction: column;
                    .sidebar-content-item.active {
                        border: 2px solid transparent;
                        border-right: 4px solid $active-color !important;
                    }
                    .sidebar-content-item {
                         :hover {
                            cursor: pointer;
                        }
                        border: 2px solid transparent;
                        padding: 3px 0;
                        margin: 6px 0px 2px 40px;
                        display: flex;
                        gap: 1em;
                        align-items: center;
                        .sidebar-content-text {
                            display: flex;
                            justify-content: space-between;
                            flex: 1;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .logo-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 90px;
        align-items: center;
        .logo {
            position: relative;
            &:after,
            &:before {
                content: "";
                position: absolute;
                width: 10px;
                height: 40px;
                top: calc(50% + 10px - 6px);
                left: calc(50% - 6px);
                background: $logo;
                transform: skew(-20deg) translateY(-50%);
            }
            &:before {
                left: calc(50% + 6px);
                top: calc(50% + 10px + 6px);
            }
        }
    }
}

.main {
    display: flex;
    background: $bg-main;
    flex: 1;
    max-height: 100%;
    overflow: auto;
    padding: 10px 30px;
    gap: 1em;
    position: relative;
    flex-direction: column;
    .search-bar {
        gap: 0.75em;
        display: flex;
        align-items: center;
        padding: 10px 0;
        .searchbar-notification {
            display: flex;
            align-items: center;
            gap: 0.5em;
            .searchbar-notification-icon {
                font-size: 1.5em;
            }
        }
        .searchbar-input {
            background: $dark-shade-1;
            display: flex;
            align-items: center;
            flex: 1;
            gap: 2em;
            padding: 8px 14px;
            border-radius: 8px;
            input {
                flex: 1;
                padding: 3px;
                background: transparent;
                border: none;
                outline: none;
                color: $color-shade;
                font-size: 1em;
            }
        }
        .searchbar-profile {
            display: flex;
            align-items: center;
            gap: 1em;
            max-height: 2em;
            max-width: 2em;
            img {
                border-radius: 50%;
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .searchbar-select {
            select {
                background: $dark-shade-1;
                color: $color-shade;
                border: none;
                outline: none;
                padding: 8px 14px;
                border-radius: 8px;
                font-size: 1em;
            }
        }
    }
    .cover-bar {
        flex: 1;
        position: relative;
        display: flex;
        min-height: 250px;
        z-index: 1;
        min-width: 100px;
        border-radius: 15px;
        .coverbar-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
            .coverbar-content-header {
                display: flex;
                padding: 20px;
                font-size: 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .coverbar-nav {
                    font-size: 0.9em;
                    font-weight: 500;
                }
            }
            .coverbar-content-footer {
                display: flex;
                background: rgba(255, 255, 255, 0.2);
                padding: 1.5em 3em;
                .coverbar-footer-details {
                    flex: 2;
                    .coverbar-heading {
                        font-size: 0.8em;
                        font-weight: 300;
                        margin-bottom: 0.5em;
                    }
                    .coverbar-name {
                        font-size: 2.5em;
                        font-weight: 600;
                        margin-bottom: 0.3em;
                    }
                    .coverbar-details {
                        font-size: 0.75em;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        font-weight: 300;
                        margin-bottom: 0.5em;
                    }
                }
                .coverbar-footer-action {
                    display: flex;
                    justify-self: center;
                    align-items: center;
                    gap: 1em;
                    .coverbar-listen-now {
                        background: $btn;
                        border: none;
                        padding: 10px 15px;
                        font-weight: 600;
                        color: #fff;
                        border-radius: 8px;
                    }
                    .coverbar-heart {
                        border: 2px solid $white-color;
                        padding: 5px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .coverbar-bg {
            border-radius: 15px;
            background: url($image);
            background-size: cover;
            background-position: 10% 25%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
    }
    .song-bar {
        flex: 2;
    }
}