$image: "https://c.pxhere.com/photos/19/96/men_onsite_man_construction_worker_industry_industrial_work-874653.jpg!d";
// $image: "https://c.pxhere.com/images/73/17/dd6039bc836b257073f1f430f2ab-1629589.jpg!d";
$bg: #2a2b2d;
$bg-main: #28292b;
$btn: #f26d55;
$logo: #6e7071;
$active-color: #d86050;
$dark-shade-1: #292b2d;
$dark-shade-2: #0a0b0c;
$dark-shade-3: #000;
$dark-shade-4: #323232;
$color-shade: #767879;
$light-shade-1: #3a3b3d;
$light-shade-2: #4a4b4d;
$light-shade-3: #5a5b5d;
$light-shade-4: #6a6b6d;
$light-shade-5: #7a7b7d;
$light-shade-6: #8a8b8d;
$light-shade-7: #9a9b9d;
$light-shade-8: #aaa;
$light-shade-9: #babbbc;
$light-shade-10: #cacbcc;
$light-shade-11: #dadadc;
$light-shade-12: #eaebed;
$light-shade-13: #fafbfc;
$light-shade-14: #fbfcfd;
$light-shade-15: #fcfdfe;
$light-shade-16: #fdfefe;
$light-shade-17: #fefefe;
$white-color: #fff;
$black-color: #000;
$primary-color: #d86050;
$secondary-color: #6e7071;
$tertiary-color: #6e7071;
$quaternary-color: #6e7071;
$quinary-color: #6e7071;
$senary-color: #6e7071;
$septenary-color: hsl(200, 1%, 44%);